@using SnakeHub.Enums
@model IEnumerable<SessionInfo>

<h1 class="text-center">Active sessions</h1>
<table class="table table-hover table-dark">
	<thead>
		<tr>
			<th>Gamemode name</th>
			<th>Player count</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (SessionInfo session in Model)
		{
			<tr>
				<td>@session.Name</td>
				<td>@session.PlayerCount</td>
				<td>@session.Status</td>
				<td>
					@if (session.Status == SessionStatus.OPEN)
					{
						<form asp-controller="Games" asp-action="Join" method="get">
							<input type="hidden" name="GameId" value="@session.Id" />
							<button type="submit" class="btn btn-outline-warning">Join</button>
						</form>
					}
					else
					{
						<form asp-controller="Games" asp-action="Spectate" method="get">
							<input type="hidden" name="GameId" value="@session.Id" />
							<button type="submit" class="btn btn-outline-light">Spectate</button>
						</form>
					}
				</td>
			</tr>
		}
	</tbody>
</table>